
.scale-up-center {
	-webkit-animation: scale-up-center 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) infinite both;
	        animation: scale-up-center 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) infinite both;
}

@-webkit-keyframes scale-up-center {
    0% {
      -webkit-transform: scale(0.5);
              transform: scale(0.5);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
  @keyframes scale-up-center {
    0% {
      -webkit-transform: scale(0.5);
              transform: scale(0.5);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }

  #projectCard{


    #imgHover{
      opacity: 0;
      transform: translateY(50%);
      -webkit-transition: all 0.4s ease-in-out 0s;
      -moz-transition: all 0.4s ease-in-out 0s;
      transition: all 0.4s ease-in-out 0s;

      @media screen and (max-width: 765px) {
        transform: translateY(0);
        opacity: 1;
      }
    }

   

    &:hover{

      #imgHover{
        transform: translateY(0);
        opacity: 1;
      }
    }
  }

.dynamic-txts{
    overflow: hidden;
}
.dynamic-txts .text{
    position: relative;
    color: #6F69EE;
    font-weight: 600;
}
.dynamic-txts .first-text{
    color: #FFF;
}
.text.sec-text:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #04082E;
    border-left: 2px solid #6F69EE;
    animation: animate 4s steps(12) infinite;
}
@keyframes animate{
    40%, 60%{
        left: calc(100% + 4px);
    }
    100%{
        left: 0%;
    }
}

  